.message {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    position: relative;
}

.message:hover {
    background-color: var(--border_color);
}

.avatar {
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.messageContent {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
    color: var(--text_primary);
}

.messageContent span {
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--text_primary);
    white-space: nowrap;
}

.messageContent span:first-child {
    font-size: 16px;
    color: var(--text_primary);
    font-weight: 600;
    margin-bottom: 5px;
}

.messageContent span:last-child {
    color: var(--text_primary);
    font-size: 14px;
}

.messageData {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 5px;
    flex-shrink: 0;
    color: var(--text_primary);
    margin-left: 10px;
}

.messageData span {
    font-size: 11px;
    color: #FFFFFF;
    width: 16px;
    height: 16px;
    text-align: center;
    line-height: 16px;
    border-radius: 100%;
    font-weight: bold;
}

.newMessage {
    background-color: var(--main_color);
}

.on {
    position: absolute;
    width: 12px;
    height: 12px;
    left: 46px;
    top: 12px;
    border-radius: 100%;
    background-color: green;
}

.off {
    position: absolute;
    width: 12px;
    height: 12px;
    left: 46px;
    top: 12px;
    border-radius: 100%;
    background-color: red;
}