.chatContainer {
    width: 100%;
    display: flex;
    min-height: 100vh;
    position: relative;
}

aside {
    min-width: 300px;
    width: 20%;
}

main {
    flex-grow: 1;
    background-color: var(--body_backgroud);
    display: flex;
    flex-direction: column;
}

.messagesContainer {
    height: calc(100vh - 160px);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 30px;
}

.messagesContainer::-webkit-scrollbar {
    width: 5px;
}

.messagesContainer::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.messagesContainer::-webkit-scrollbar-thumb {
    background: #888;
}

.messagesContainer::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.messageSent {
    text-align: right;
    background-color: var(--message_sent);
    color: #FFFFFF;
}

.messageReceived {
    text-align: left;
    background-color: var(--message_received);
    color: var(--text_primary);
}