.chatContainer {
    width: 100%;
    display: flex;
    min-height: 100vh;
}

aside {
    min-width: 300px;
    width: 20%;
}

main {
    flex-grow: 1;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
}

.messagesContainer {
    flex-grow: 1;
    height: 0;
    padding: 20px;
    overflow-y: auto;
}

.messagesContainer::-webkit-scrollbar {
    width: 5px;
}

.messagesContainer::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.messagesContainer::-webkit-scrollbar-thumb {
    background: #888;
}

.messagesContainer::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.messageSent {
    text-align: right;
    background-color: #DCF8C6;
}

.messageReceived {
    text-align: left;
    background-color: #FFFFFF;
    color: #fff;
}