.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 20px;
    background-color: var(--body_color);
}

.input {
    flex-grow: 1;
    margin-right: 10px;
    padding: 12px;
    border-radius: 20px;
    border: none;
    background-color: var(--body_color);
    color: var(--text_primary);
    outline: none;
    font-size: 18px;
}

.icons {
    display: flex;
    align-items: center;
}

.icon {
    margin-left: 10px;
    cursor: pointer;
    color: var(--main_color);
}