.login {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 20%;
    min-width: 360px;
    padding: 40px 20px;
    background-color: #00A3FF;
    border-radius: 20px;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-bottom: 40px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.input {
    width: 100%;
    padding: 16px;
    border: none;
    border-radius: 10px;
    outline: none;
}

.button {
    padding: 16px;
    width: 100%;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

.text {
    color: var(--body_color);
    font-weight: bold;
}

.error {
    color: rgb(182, 32, 32);
    font-weight: bold;
    font-size: 12px;
}