.asideBar {
    padding: 20px;
    border-right: solid 2px var(--border_color);
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--body_color);
}

.asideHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--main_color);
    gap: 10px;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.logo span {
    font-size: 22px;
    font-weight: 600;
}

.search {
    margin-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    position: relative;
    color: #CCCFD0;
}

.search input {
    /* flex-grow: 1; */
    width: calc(100% - 30px);
    padding: 8px 10px 8px 32px;
    border: 1px solid var(--border_color);
    border-radius: 8px;
    font-size: 14px;
    outline: none;
    background-color: var(--body_color);
}

.search input::placeholder {
    color: var(--text_primary);
    font-weight:300;
    letter-spacing: 1px;
}

.searchIcon {
    position: absolute;
    left: 10px;
    opacity: .3;
    color: var(--text_primary);
}

.newChat {
    cursor: pointer;
    display: flex;
    place-items: center;
    color: var(--body_color);
    background-color: var(--main_color);
    border-radius: 6px;
    padding: 7px;
}

.chatsList {
    margin-top: 30px;
    width: 100%;
    flex-grow: 1;
    overflow-y: auto;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
}

.chatsList::-webkit-scrollbar {
    width: 5px;
}

.chatsList::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.chatsList::-webkit-scrollbar-thumb {
    background: #888;
}

.chatsList::-webkit-scrollbar-thumb:hover {
    height: 5px;
    background: #555;
}