.messageContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 20px;
}

.message {
    background-color: var(--main_color);
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    max-width: 70%;
    margin: 5px;
    color: var(--body_color);
    font-weight: 500;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.messageSent {
    padding: 12px 20px;
    border-top-left-radius: 12px;
    align-self: flex-end;
    background-color: var(--message_sent);
    color: #FFFFFF;
}

.messageReceived {
    padding: 12px 20px;
    border-top-right-radius: 12px;
    align-self: flex-start;
    text-align: left;
    background-color: var(--message_received);
    color: var(--text_primary);
}

.time {
    font-size: 10px;
    text-align: right;
}
