.messageContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 20px;
}

.message {
    background-color: #00A3FF;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 0;
    padding: 12px 32px 12px 20px;
    max-width: 70%;
    margin: 5px;
    color: #fff;
    font-weight: 500;
}

.messageSent {
    align-self: flex-end;
}

.messageReceived {
    align-self: flex-start;
    text-align: left;
    background-color: #fff;
    color: #000;
}