.chatHeader {
    background-color: var(--body_color);
    display: flex;
    padding: 0 20px;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 2px var(--border_color);
}

.userData {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.userData > img {
    width: 50px;
    height: 50px;
}

.userDescription p {
    font-size: 18px;
    color: var(--text_primary);
}

.userDescription span {
    font-size: 14px;
    color: var(--text_primary);
}

.contactIcons {
    color: var(--main_color);
    position: relative;
}

.more {
    cursor: pointer;
}

.options {
    position: absolute;
    right: 12px;
    top: 28px;
    background-color: var(--body_color);
    padding: 0 28px;
    border-radius: 10px;
    display: none;
    border: solid 2px var(--border_color);
    color: var(--text_primary);
}

.active {
    display: block;
}

.options:hover {
    background-color: var(--border_color);
}

.options > button {
    border: none;
    background-color: transparent;
    font-size: 16px;
    cursor: pointer;
    padding: 12px;
    color: var(--text_primary);
}