.chatHeader {
    background-color: var(--body_color);
    display: flex;
    padding: 0 20px;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 2px var(--border_color);
}

.userData {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.userData > img {
    width: 50px;
    height: 50px;
}

.userDescription p {
    font-size: 18px;
    color: var(--text_primary);
}

.userDescription span {
    font-size: 14px;
    color: var(--text_primary);
}

.contactIcons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    color: var(--main_color);
}